
.calendar-page {
    height: calc(100vh - 50px);
    padding-top: 90px;
}

.task {
    border: 1.5px solid #888;
    background: #eee;
    border-radius: 5px;
    list-style-type: none;
    padding: 6px 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.edit:hover, 
.delete:hover {
    rotate: 15deg;
    cursor: pointer;
}

.tasks-header {
    border-bottom: 2px solid #bebebe;
}

.selected-message {
    font-size: 1.4rem;
}

.add-task-btn {
    background: #2b92a9;
    border: none;
    padding: 0 10px;
    margin-bottom: 16px;
    border-radius: 8px;
    color: whitesmoke;
    height: 40px;
}

.add-task-btn:disabled {
    background: rgb(206, 200, 200);
}

.error {
    color: red;
}


/* media queries */

@media screen and (min-width: 1200px) {
    .task {
      width: 80%;
    }
  }
